<h4>Now you're logged in! All that's left is to send out the tweets...</h4>

<div class="go-container">
  <a class="button button-primary" href="/tweet">Send out the Tweets!</a><br/>
  <a class="button button-primary" href="/">Go Back Home</a>
</div>
