<h4>First log in with your twitter account to give us permission to tweet, and then tweet funny quotes from all twitter accounts we're authenticated to!</h4>

<div class="go-container">
  <a class="button button-primary" href="/authenticate">Add my Twitter!</a><br />
  <a class="button button-primary" href="/tweet">Send out the Tweets!</a>
</div>
