<h4>You've done it! Tweets were successfully sent out for:</h4>

<ul>
{{#each names}}
  <li>{{this}}</li>
{{/each}}
</ul>

<div class="go-container">
  <a class="button button-primary" href="/">Go Back Home</a>
</div>
